@font-face {
	font-family: "bebasbold";
	src: url("../fonts/BebasNeue Bold.ttf");
}

@font-face {
	font-family: "bebasregular";
	src: url("../fonts/BebasNeue Regular.ttf");
}

@font-face {
	font-family: "bebasthin";
	src: url("../fonts/BebasNeue Thin.ttf");
}

@font-face {
	font-family: "bebaslight";
	src: url("../fonts/BebasNeue Light.ttf");
}

@font-face {
	font-family: "sansbold";
	src: url("../fonts/SourceSansPro-Bold.otf");
}

@font-face {
	font-family: "sans";
	src: url("../fonts/SourceSansPro.otf");
}

@font-face {
	font-family: "brandonmed";
	src: url("../fonts/Brandon_med.otf");
}

@font-face {
	font-family: "brandonbold";
	src: url("../fonts/Brandon_bld.otf");
}

@font-face {
	font-family: "brandonthin";
	src: url("../fonts/Brandon_thin.otf");
}

@font-face {
	font-family: "dinprocond";
	src: url("../fonts/DINPro-CondMedium.otf");
}

@font-face {
	font-family: "dinpro";
	src: url("../fonts/DINPro.otf");
}

body {
    background-image: url("../assets/FOX3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 50px;
    background-color: #242424;
    height: 650px;
}

/* The logo */
#logo {
    left: 8px;
    top: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
}

#logo:hover {
    opacity:0.4;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

/* The navigation bar */
.navbar {
    border-bottom: 1px solid #333333;
    background-color: black;
    opacity:1;
    position: fixed; /* Set the navbar to fixed position */
    left: 0; /* Positions navbar to the left, removes gap */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}


/* Links inside the navbar */
.navbar a {
    font-family: "bebasbold", Arial, Helvetica, sans-serif;
    font-size: 16pt;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 27px;
    text-decoration: none;
    border-left: 1px solid #333333;
    z-index: 1;
    letter-spacing: 1px;
}

.navbar #home {
    float: left;
    border-right: 1px solid #333333;
}


.navbar a:hover {
    background-color: white;
    color: black;
    transition: background-color .15s ease-in, color .15s ease-in;
    -moz-transition: background-color .15s ease-in, color .15s ease-in;
    -webkit-transition: background-color .15s ease-in, color .15s ease-in;
    -o-transition: background-color .15s ease-in, color .15s ease-in;
}

/* Alter clicked link */
a.currentlyActive {
    text-decoration: underline;
    background-color: white;
    color: black;
}

/* Main content */
.container-fluid {
    padding: 16px;
    margin-top: 60px;
}

.blackHover:hover {
    background: white;
    color: black;
    transition: background .15s ease-in;
    -moz-transition: background .15s ease-in;
    -webkit-transition: background .15s ease-in;
    -o-transition: background .15s ease-in;
}

.textHover:hover span{
    color: black;
}

img.icon {
    width: 150px;
    height: 150px;
    border: 2px solid #333333;
    box-shadow: 8px 8px 5px #111111;
    -webkit-filter: grayscale(100%);
    -webkit-transition: .15s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: .15s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: .15s ease-in-out;
}

img.icon:hover {
    opacity: 1 !important;
    -webkit-filter: grayscale(0%) !important;
    -webkit-transition: .15s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .15s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .15s ease-in-out;
}

img.project {
    width: 320px;
    height: 128px;
    border: 2px solid #333333;
    box-shadow: 8px 8px 5px #111111;
    -webkit-filter: grayscale(100%);
    -webkit-transition: .15s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: .15s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: .15s ease-in-out;
}

img.project:hover {
    opacity: 1 !important;
    -webkit-filter: grayscale(0%) !important;
    -webkit-transition: .15s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .15s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .15s ease-in-out;
}

#sliderleft{
    position: absolute;
    background: white;
    width: 0px;
    height: 0px;
    top: 0px;
    margin-left: 1510px;
    color: white;
    border: 1px solid white;
    opacity: 0;
    z-index: 1;
}

#sliderright{
    position: absolute;
    background: white;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    color: white;
    border: 1px solid white;
    opacity: 0;
    z-index: 1;
}

#pagetitle {
		text-shadow: 5px 5px 10px black;
		z-index: 2;
}

#name {
		font-family: "bebasbold", sans-serif;
		font-size: 80pt;
    letter-spacing: 3px;
		color: white;
    text-align:center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
	}

#blurb {
		font-family: "brandonmed", sans-serif;
		font-size: 15pt;
		color: #f7f7f7;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

#center-button {
    overflow: hidden;
    width: 120px;
    height: 45px;
    background: none;
    position: absolute;
    border: 2px solid white;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
		z-index: 2;
}

#start {
    cursor: pointer;
    position: relative;
    display: inline-block;
    line-height: 27px;
    font-family: "brandonbold", sans-serif;
    font-size: 12pt;
    color: #f7f7f7;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

#profile {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 1150px;
    top: 50px;
    height: 500px;
    width: 280px;
    border: 2px solid #333333;
}

#meleefox {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 400px;
    top: 250px;
    height: 350px;
    width: 350px;
}

#resume {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 900px;
    top: 220px;
    max-height: 110px;
    max-width: 110px;
    z-index: 2;
}

#resume img{
    filter: brightness(75%);
    color: #ffffff;
    max-height: 110px;
    max-width: 110px;
}

#gmail {
    border: 2px solid transparent;
    visibility: hidden;
    position: fixed;
    opacity: 0.1;
}

#facebook {
    visibility: hidden;
    position: fixed;
    opacity: 0;
}

#twitter {
    visibility: hidden;
    position: fixed;
    opacity: 0;
}

#phone {
    visibility: hidden;
    position: fixed;
    opacity: 0;
}

#linkedin {
    visibility: hidden;
    position: fixed;
    opacity: 0;
}

#tableone {
    visibility: hidden;
    position: fixed;
    opacity: 0;
}

#scoreboard {
    visibility: hidden;
    position: fixed;
    opacity: 0;
}

#website {
    visibility: hidden;
    position: fixed;
    opacity: 0;
}

#hangman {
    visibility: hidden;
    position: fixed;
    opacity: 0;
}

#gmail:hover {
    opacity: 1 !important;
    transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
}

#facebook:hover {
    opacity: 1 !important;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
}

#twitter:hover {
    opacity: 1 !important;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
}

#phone:hover {
    opacity: 1 !important;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
}

#linkedin:hover {
    opacity: 1 !important;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
}

#tableone:hover {
    opacity: 1 !important;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
}

#scoreboard:hover {
    opacity: 1 !important;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
}

#website:hover {
    opacity: 1 !important;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
}

#hangman:hover {
    opacity: 1 !important;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
}

.label {
    text-decoration: none;
    color: #f7f7f7;
    top: 5px;
    text-align: center;
    font-size: 20px;
    opacity: 0.3;
}

.plabel {
    text-decoration: none;
    color: #f7f7f7;
    top: 5px;
    text-align: center;
    font-size: 20px;
    opacity: 0.3;
}

#d1 {
    position: fixed;
    width: 250px;
    text-decoration: none;
    color: #f7f7f7;
    right: 850px;
    top: 60px;
    text-align: left;
    font-size: 12px;
    opacity: 0;
}

#d2 {
    position: fixed;
    width: 250px;
    text-decoration: none;
    color: #f7f7f7;
    right: 850px;
    top: 240px;
    text-align: left;
    font-size: 12px;
    opacity: 0;
}

#d3 {
    position: fixed;
    width: 250px;
    text-decoration: none;
    color: #f7f7f7;
    right: 850px;
    top: 420px;
    text-align: left;
    font-size: 12px;
    opacity: 0;
}

#d4 {
    position: fixed;
    width: 250px;
    text-decoration: none;
    color: #f7f7f7;
    right: 100px;
    top: 60px;
    text-align: left;
    font-size: 12px;
    opacity: 0;
}

a {text-decoration:none;}

a:hover .label{
    text-decoration: none;
    opacity: 1 !important;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
}

a:hover .plabel{
    text-decoration: none;
    opacity: 1 !important;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
    -webkit-filter: grayscale(0%) !important;
    -webkit-transition: .15s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .15s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .15s ease-in-out;
}

#contactblurb {
    color: #f7f7f7;
    font-size: 40px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 510px;
    top: 400px;
}

#cover {
    background: transparent;
    z-index: -1;
    position: absolute;
    left: 0; /* Positions navbar to the left, removes gap */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 50px;
}

#innertext {
    z-index: -1;
}

.articleinner {
		font-family: "dinprocond", Arial, Helvetica, sans-serif;
		position: absolute;
		line-height: 40px;
		bottom: 5px;
    width: 100%;
		left: 15px;
		text-align: left;
		font-size: 30px;
}

.articleinner:hover {
		text-decoration: underline;
}

.preview {
		font-family: "dinpro", Arial, Helvetica, sans-serif;
		line-height: 15px;
		text-align: left;
		font-size: 15px;
}

.readmore {
		line-height: 30px;
}

.tag {
		font-family: "dinprocond", Arial, Helvetica, sans-serif;
		position: relative;
		text-align: center;
		vertical-align: middle;
		line-height: 22px;
		height: 22px;
		width: 32px;
		font-size: 12px;
}

#articlebox {
	height: 600px;
	width: 1500px;
	position: fixed;
	overflow-y: scroll;
	visibility: hidden;
	left: 0px;
	top: 1px;
	opacity: 0;
}

#ledgedash {
		cursor: pointer;
		background:
	    linear-gradient(
      rgba(0, 0, 0, .4),
      rgba(0, 0, 0, 1)
    ),
    /* bottom, image */
    url('../assets/articles/ledgedash/ledgedash.jpg');
		background-repeat: no-repeat;
		background-position: center;
		width: 700px;
		height: 500px;
		top: 50px;
		left: 30px;
		position: absolute;
		opacity: 0.6;
}

#ledgedash:hover {
    opacity: 1 !important;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
}

#nim {
		cursor: pointer;
		background:
	    linear-gradient(
      rgba(0, 0, 0, .4),
      rgba(0, 0, 0, 1)
    ),
    /* bottom, image */
    url('../assets/articles/nim/nim.png');
		background-repeat: no-repeat;
		background-position: center;
		width: 489px;
		height: 250px;
		top: 50px;
		left: 730px;
		position: absolute;
		opacity: 0.6;
}

#nim:hover {
    opacity: 1 !important;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
}

.link {
		text-decoration: underline;
		color: #777777;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}

.articletitle {
		left: 48px;
		font-family: "bebasbold";
		letter-spacing: 1px;
		font-weight: 1000;
		color: white;
		opacity: 1;
		font-size: 50px;
		position: absolute;
		top: -25px;
		z-index: 2;
		text-shadow: 5px 5px 10px black;
}

#twitch-embed {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		bottom: 30px;
		left: 750px;
}

.box {
		width : 1500px;
		height: 600px;
		top: 109px;
		background: none;
    position: absolute;
		left: 1%;
    border-left: 2px solid white;
		border-right: 2px solid white;
		border-bottom: 2px solid white;
}

.articlewrapper {
	height: 600px;
	width: 1435px;
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	left: 35px;
	z-index: 1;
	padding-right: 30px;
}

#left {
		width : 27px;
		height: 0px;
		left: 0px;
		top: 0px;
		background: none;
		position: absolute;
		border-bottom: 2px solid white;
		z-index: 2;
}

#right {
		width : 979px;
		height: 0px;
		left: 523px;
		top: px;
		background: none;
		position: absolute;
		border-bottom: 2px solid white;
		z-index: 2;
}

h1 {

		font-family: "dinpro";
		font-size: 20pt;
		color: white;
}

p {
		font-family: "brandonmed";
		font-size: 12pt;
		color: white;
}

iframe {
		padding-right: 20px;
}

figure {
		display: inline-block;
}

body {
	display: flex;
	justify-content: center;
	overflow-y: hidden;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

/* Track
::-webkit-scrollbar-track {
    background: white;
    border: 5px solid transparent;
    background-clip: content-box;
}
*/

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border: 1px solid white);
}
